<!DOCTYPE html>
<html>
<head>
	<title>Pokemania</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/pokemania.css">
</head>
<body>
  	<div class="ui fixed inverted menu">
	  	<div class="ui container">
	  		<div class="ui header item"><i class="bullseye icon"></i>Pokemania</div>
	  		<a href="/types" class="item">
		      Home
		    </a>
		    <a href="#" class="item">
		      Fight!
		    </a>
		    <div class="right menu">
			    <div class="ui dropdown item">
			      About <i class="dropdown icon"></i>
			      <div class="menu">
				        <a href="#" class="item"><i class="linkedin icon"></i>Contact</a>
				        <a href="#" class="item"><i class="github icon"></i>Github</a>
				        <a href="#" class="item"><i class="credit card icon"></i>Donate</a>
				        <div class="divider"></div>
				        <a href="#" class="item"><i class="code icon"></i>Upcoming!</a>
			      </div>
				</div>
				<div class="item">
			        <div class="ui purple basic button">Sign Up</div>
			    </div>
			    <div class="item">
			    	<div class="ui green basic button">Login</div>
			    </div>
			</div>
	  	</div>
	</div>