<% include partials/header %>

<div class="ui eight cards">
	<% type["pokemon"].forEach(function(pokemon){ %>
		<div class="card">
			<div class="image">
				<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/623.png">
			</div>
			<div class="content">
      			<div class="center aligned header"><%= pokemon["pokemon"]["name"] %></div>
      		</div>
		</div>
	<% }); %>
</div>

<% include partials/footer %>